<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Show List</title>
</head>

<body>
  <h2>List Details</h2>
  <ul>
    <strong>Title:</strong>
    <%= list.title %> <br>
      <strong>Description:</strong>
      <%= list.des %> <br>
        <strong>Price:</strong>
        ₹ <%= list.price %> <br> <!-- REMOVED .toLocaleString("en-IN") -->
          <strong>State:</strong>
          <%= list.state %> <br>
            <strong>Country:</strong>
            <%= list.country %>
  </ul>
  <a href="/listings/<%= list._id %>/edit">edit</a>
  <br>
  <br>
 
  <form action="/listings/<%= list._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>

</body>

</html>